* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
}

/* --------Variables------ */
:root {
  --bg-dark-color: #242323;
  --text-primary-color: #fff;
  --text-secondary-color: #b6b3b3;
  --text-light-gray: #d8d3d3;
  --badge-color: #d10a0a;
  --transition: all 300ms ease;
  --border-radius: 2px;
  --border-radius-circle: 50%;
  --container-width-lg: 1024px
  --container-width-md: 768px;

}

body {
  /* background-color: var(--bg-dark-color); */
  color: var(--text-primary-color);
  font-size: 1.25rem;
  line-height: 1.5;
}

img {
  width: 100%;
  /* background-color: var(--text-primary-color); */
  
}

h1,
h3 {
  margin-bottom: 1rem;
  line-height: 1.1;
  font-weight: 500;
}

h3 {
  color: var(--text-secondary-color);
  font-size: 0.85rem;
}

.container {
  max-width: var(--container-width-lg);
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5rem;
  row-gap: 1rem;
}

.topbar {
  height: 65px;
  border-bottom: 1px solid var(--text-light-gray);
  padding: 0 20px;
}

.left {
  gap: 30px;
}


.hamburger-menu img,
.search-btn img,
.voice-search img,
.upload img,
.youtube-apps img,
.notifications img {
  height: 30px;
}

.youtube-logo img {
  height: 25px;
}






.search-input {
  width: 500px;
  height: 40px;
  border: 2px solid var(--text-light-gray);
  border-radius: 2px;
  outline: none;
}

.search-input::placeholder {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  padding-left: .5rem;
}
/* .search-btn img {
  height: 30px;
}

.voice-search img {
  height: 30px;
}

.upload img {
  height: 30px;
}

.youtube-apps img {
  height: 30px;
}

.notifications img {
  height: 30px;
}

 */
 .user-profile img {
  height: 40px;
}
