* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
  
}

/* --------Variables------ */
:root {
  --text-primary-color: #fff;
  --text-secondary-color: #b6b3b3;
  --text-light-gray: #d8d3d3;
  --light-gray-color: #f1ecec;
  --badge-color: #d10a0a;
  --black: #000;
  --border-radius: 2px;
  --border-radius-circle: 50%;
  --bg-dark-color: #242323;
  --bg-light-black: #5e5c5c;
  --border-color: #c0c0c0;
  --container-width-lg: 1024px;
  --transition: all 300ms ease;
  --container-width-md: 768px;

}

body {
  background-color: var(--bg-dark-color);
  color: var(--text-primary-color);
  font-size: 1.25rem;
  line-height: 1.5;
}
  

a, p {
  margin: 0;
}

img {
  width: 100%;
  
  
}

h1,
h3 {
  margin-bottom: 0;
  line-height: 1.1;
  font-weight: 500;
}

h3 {
  color: var(--text-secondary-color);
  font-size: 0.85rem;
}

.container {
  max-width: var(--container-width-lg);
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
  align-content: center;
}

.topbar {
  height: 4.1rem;
  padding: 0 1.6rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  background-color: var(--bg-dark-color);
  border-bottom: .5px solid var(--bg-light-black);
}

.left {
  gap: 1.9rem;
}

.icon {
  position: relative;
}

.icon .tooltip {
  visibility: hidden;
  background-color: var(--bg-light-black);
  color: var(--text-primary-color);
  padding: .5rem;
  border-radius: 2px;
  position: absolute;
  white-space: nowrap;
  align-items: center;
  font-size: .85rem;
  bottom: -2.5rem;
  z-index: 1000;
}

.menu .tooltip {
  top: .7rem;
  right: -2.5rem;
  bottom: unset;
}

.user-profile .tooltip,
.voice-search .tooltip,
.youtube-apps .tooltip,
.notifications .tooltip {
  left: -2rem;
}
.icon:hover .tooltip {
  visibility: visible;
}

.icon img {
  height: 1.9rem;
}

.icon img {
  height: 1.6rem;
}

.middle {
  max-width: 500px;
  flex: 1;
  margin: 0 2.2rem 0 4.4rem;
}

.search-input {
  font-size: 1rem;
  flex: 1;
  width: 0;
  font-weight: 500;
  height: 40px;
  border-radius: 2px;
  outline: none;
  padding-left: .5rem;
  color: var(--text-primary-color);
  background-color: var(--black);
  border: .5px solid var(--bg-light-black);
}

.search-input::placeholder {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-primary-color);
}

.search-btn {
  width: 4.1rem;
  height: 41px;
  margin-left: -0.25rem;
  background-color: var(--bg-light-black);
  border-radius: 0 2px 2px 0;
}

.search-btn img,
.voice-search img {
  height: 1.6rem;
  margin: .5rem auto;
}

.voice-search {
  width: 40px;
  height: 40px;
  margin-left: .5rem;
  align-items: center;
  background-color: var(--black);
  border-radius: var(--border-radius-circle);
}

.voice-search img {
  height: 1.6rem;
  margin: .5rem auto;
}

.right {
  gap: 1rem;
  flex-shrink: 0;
  width: 200px;
}

 .notifications {
  position: relative;
}

.notification-counter h3 {
  height: 1rem;
  top: -1px;
  right: -8px;
  border-radius: 50px;
  position: absolute;
  padding: .2rem;
  color: var(--text-primary-color);
  background-color: var(--badge-color);
}

 .user-profile img {
  height: 2.2rem;
  border-radius: 1.2rem;
}

.sidebar {
  width: 4.6rem;
  top: 4rem;
  left: 0;
  position: fixed;
  flex-direction: column;
  z-index: 100;
  background-color: var(--bg-dark-color);
  
}

.side-menu-link {
 width: 4.6rem;
 height: 4.4rem;
 justify-content: center;
 flex-direction: column;
 transition: var(--transition);
}

.side-menu-link:hover {
  background-color: var(--bg-light-black);
}

.side-menu-link img {
  height: 1.6rem;
}

.side-menu-link h3 {
  color: var(--text-primary-color);
  font-size: 10px;
  font-weight: 500;
  white-space: nowrap;
}



/* -------MAIN CONTENT---------- */
.main-content {
  margin-left: 4.6rem;
  margin-top: 4.1rem;
  padding: 1rem 1.6rem 3rem 1rem;
  background-color: rgb(24, 21, 21);
}

.videp-thumbnail {
  margin-bottom: 0.45rem;
}
.thumbnail {
  position: relative;
}

.video-duration {
  position: absolute;
  right: .5rem;
  bottom: 1rem;
  height: 1rem; 
}

.video-duration h3 {
  font-size: .75rem;
  font-weight: 500;
  color: var(--text-primary-color);
  padding: .25rem .5rem;
  border-radius: 2px;
  background-color: var(--black);
}

.description {
  grid-template-columns: 50px 1fr;
  row-gap: 0;
  gap: 0;
  
}
.channel-profile img {
  width: 2.5rem;
  border-radius: 50px;
}

.video-title {
  font-size: .85rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--text-primary-color);
}


.channel-name {
  margin-top: 1rem;
}
.channel-name, .views-and-period {
  font-size: .7rem;
  font-weight: 500;
  color: #aaa6a6;

}

@media  (max-width: 1000px) {

  .left {
    width: 150px;
    
  }
 
  .main-content {
    grid-template-columns: repeat(3, 1fr);
  }

}


@media screen and  (max-width: 768px) {

  .flex {
    justify-content: center;
    gap: 2rem;
  }

  .topbar {
    padding: 2rem;
    margin: 0;

  }
  .search-input {
    display: none;
  } 

  .search-btn, 
  .voice-search {
    background-color: transparent;
    margin: 0;
    width: unset;
    height: unset;
  }

.icon img {
  height: 1.5rem;
}

  .search-btn  img ,
  .voice-search img {
    margin: 0;
  }

  .left {
    width: unset;
    
  }
  .middle {
    flex: none;
    max-width: none;
    margin: 0;
  }
  .right {
    gap: 1rem;
    width: unset;
  }

  .sidebar {
    display: none;
  }
  .main-content {
    margin-left: 0;
    padding-right: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  .menu,
  .voice-search,
  .notifications,
  .upload,
  .youtube-apps {
    display: none;
  }

  .youtube-logo {
    position: absolute;
    left: 1rem;
  }

  .user-profile {
    position: absolute;
    right: 1rem;
  } 

  .search-btn {
    position: absolute;
    right: 3rem;
  } 

}

@media screen and  (max-width: 390px) {
  
  .main-content {
    grid-template-columns: 1fr;
    margin-top: 3.1rem;
  }
  .topbar {
    /* margin: 0 1rem; */
    padding: 0 1.6rem;
    height: 3.1rem;
  }
  
  .menu,
  .voice-search,
  .notifications,
  .upload,
  .youtube-apps {
    display: none;
  }

  .youtube-logo {
    position: absolute;
    left: 0;
  }

  .user-profile {
    position: absolute;
    right: 0;
  } 

  .search-btn {
    position: absolute;
    right: 3rem;
  } 
  
}
